{% extends '../base.html' %}
{% block content %}
<div class="content border border-2">
    <div class="block-form w-50 mx-auto my-0">
        <form action="{{ form_action }}" method="post" class="task-create text-center">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group my-2">
                <label>{{ field.label }}</label>
                {% if field.field.required %}
                    <span style="color: red;" class="required">*</span>
                {% endif %}
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.comments.help_text %}
                    <p>{{ field.help_text }}</p>
                {% endif %}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary my-3">{{ button_action }}</button>
        </form>
    </div>
</div>
{% endblock %}